$index-scroll-arrow: 1;
$index-intro-section: 1;
$index-logo: 1;
$index-money-left: 1;
$index-money-blocks: 2;
$index-container-section: 3;
$index-summary-section: 5;
$index-side-menu: 7;
$brute-force: 999;
